spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fog
    username: root
    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: update

  jwt:
    secret: a22d0cbf9565ce0a48de099ba468b5845c3de84cc3e7f577f93d2398d8e7ca08